.format {
  justify-content: center;
}

#nome-cliente-rec {
  width: 100%;
  text-align: center;
}

.tamOrigId {
  width: 100%;
  text-align: center;
}

.addtamIdModi {
  width: 52px;
}

a{
  text-decoration: none;
}