

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&display=swap');



.iconesSquare {
    justify-content: center;
}

.iconesSquare i{
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size:17px;
   
}

