@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
.tableDados {
  border: solid 1px black;
  padding: 1.5%;
  border-radius: 1.5em;
  width: 100%;
}

.tableDados a {
  text-decoration: none;
  font-family: 'Coustard', serif;

}


table {
 

  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

